
.cdtimer__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: url('bg.jpg');
    background-size: cover;
    background-position: center center;
}

.timer__title {
    font-size: 5rem;
    color: gold;
    letter-spacing: 5px;
    margin-bottom: 5rem;
}

.countdown__container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 1rem;
}

.text__count {
    font-size: 7rem;
    font-weight: 700;
    color: cyan;
    line-height: 1;
    margin: 0 4rem;
}

.countdown__container span {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: greenyellow;
}

@media screen and (max-width:1140px) {
    .timer__title {
        font-size: 3rem;
    }
    .text__count {
        font-size: 4rem;
        margin: 0 2rem;
    }
}

@media screen and (max-width:620px) {
    .timer__title {
        font-size: 3rem;
        text-align: center;
    }
    .text__count {
        font-size: 2rem;
        margin: 0 1rem;
    }
    .countdown__container span {
        font-size: 0.7rem;
    }
}